@{
    ViewBag.Title = "Donor Maestro";
}

<p></p>
<div class="container">
    <div class="pannel panel-default">
        <div class="panel-heading"><h3>Call Center Quick Menu</h3></div>
        <div class="panel col-md-6 text-right" >
            <a href="/Pickup"><image src="/images/schedule.png"></image></a>
        </div>

        <div class="panel col-md-6">
            <a href="/Lookup"><image src="/images/lookup.png"></image></a>
</div>
    </div>
</div>