<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Oops :-(</h1>
        <h2>We exprienced an error while processing your request.</h2>
        <p>Please contact your support organization</p>
    </hgroup>
</body>
</html>
