@model IEnumerable<VOA.Models.Merchandise>

@{
    ViewBag.Title = "Merchandise Administration - List Merchandise";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Display breadcrump bar for Merchandise Administration -->
<div class="page-header"><h1>Merchandise Administration - List Merchandise</h1></div>
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Merchandise List</li>
</ol>

<!-- Display donor search form -->
<form class="container" action="/Merchandise">
    <div class="form-group col-lg-4">
        <input name="SearchString" class="form-control" type="text" placeholder="Merchandise name..." value="@ViewBag.SearchString" autofocus>
    </div>

    <div class="form-group col-lg-4">
        &nbsp;
    </div>

    <div class="form-group col-lg-4">
        &nbsp;
    </div>

    <div class="form-group col-lg-12">
        <button type="submit" class="btn btn-primary bottom">Search</button>
        <a href="/Merchandise" class="btn btn-link">Reset</a>
        <a href="/Merchandise/Create" class="btn btn-link">Add New Merchandise</a>
    </div>
</form>

<table class="table table-hover">
    <tr class="info">
        <th>
            Actions
        </th>
        <th>
            Merchandise Name
        </th>
        <th>
            Enabled
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>    
            <div class="btn-group">
                <a class="btn-sm" style="padding: 5px 5px;" href="/Merchandise/Edit/@Html.DisplayFor(modelItem => item.ID)">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a class="btn-sm" style="padding: 5px 5px;" href="/Merchandise/Delete/@Html.DisplayFor(modelItem => item.ID)">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </div>     
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
    </tr>
}

</table>
